<html><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252"></head><body cz-shortcut-listen="true"><div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://static.platzi.com/media/tmp/class-files/git/platzi-flask/platzi-flask-0018f90d8073a528cb79419e244b2622c1d68b26/templates/%7B%7B%20url_for('index')%20%7D%7D">
	      <img src="{{url_for('static', filename = 'images/logo.png')}}" style="max-width: 48px" alt="Platzi logo">
            </a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="https://static.platzi.com/media/tmp/class-files/git/platzi-flask/platzi-flask-0018f90d8073a528cb79419e244b2622c1d68b26/templates/%7B%7B%20url_for('index')%20%7D%7D">Inicio</a></li>
                <li><a href="https://platzi.com/" target="_blank">Platzi</a></li>
            </ul>
        </div>
    </div>
</div><div class="igtranslator-main-div" style="display: none; width: 0px; height: 0px;"><iframe src="navbar_files/blank.html" class="igtranslator-iframe" scrolling="no" frameborder="0"></iframe></div><div class="igtranslator-activator-icon bounceIn" style="background-image: url(&quot;moz-extension://5e58ad5f-9ebf-4c86-8da7-d1ffcfe7cf48/data/icons/home.png&quot;); display: none;" title="Click to Show Translation"></div></body><style type="text/css" id="igtranslator-color"></style></html>

